body {
  background: linear-gradient(to right, #040395, #007CDB);
}

form {
  background: linear-gradient(#50F2E2, #AEF2EB);
  margin: 10% auto;
  text-align: center;
  width: 430px;
  border: .2rem solid #F2F2F2;
  border-radius: 3rem;
  padding: 5rem 3rem;
  color: #F2F2F2;
  font-size: 1rem;
}

h1 {
  text-align: left;
  font-family: monospace;
  font-size: 2rem;
}

section {
  margin-top: 1rem;
}

.operators * {
  border-radius: 1%;
  padding: .75rem 2.6rem;
}



.output {
  margin: 8px 0px 20px 10px;
  width: 95%;
  height: 4rem;
  border: solid .1rem #F2F2F2;
  background-color: #000;
  color: #F2F2F2;
  margin-bottom: 1rem;
  font-size: 4rem;
  overflow: hidden;
  text-align: right;
  }

.numbers {
  margin: 1rem auto 0 auto;
  width: 90%;

}

.numbers * {
  margin: 3%;
  padding: 1rem 2.5rem;
}

button {
  // margin: 3% 5%;
  padding: 1rem;
  border: .1rem solid #040395;
  border-radius: 50px;
  font-size: 2rem;
  color: #F2F2F2;
  background: linear-gradient(to right, #02DDB5, #007CDB);

}
